[submodule "IRE_Models/Shared"]
	path = IRE_Models/Shared
	url = https://Kernell@bitbucket.org/mtaroleplay/ire-shared-libs.git
[submodule "IRE_Shaders/Shared"]
	path = IRE_Shaders/Shared
	url = https://Kernell@bitbucket.org/mtaroleplay/ire-shared-libs.git
[submodule "IRE_Server/Shared"]
	path = IRE_Server/Shared
	url = https://Kernell@bitbucket.org/mtaroleplay/ire-shared-libs.git
[submodule "IRE_Client/Shared"]
	path = IRE_Client/Shared
	url = https://Kernell@bitbucket.org/mtaroleplay/ire-shared-libs.git
[submodule "IRE_Nametags/Shared"]
	path = IRE_Nametags/Shared
	url = https://Kernell@bitbucket.org/mtaroleplay/ire-shared-libs.git
[submodule "IRE_Console/Shared"]
	path = IRE_Console/Shared
	url = https://Kernell@bitbucket.org/mtaroleplay/ire-shared-libs.git
